main{
    background: url("../../images/background-img.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    background-size: 122%;
    background-position: center;
}
#main-content{
	box-sizing:border-box;
	font-family: 'Cute Font', cursive;
	display:grid;
	grid-template-rows: 13% repeat(3, 23%) 1%;
	grid-template-columns:repeat(3, 20%);
    z-index:2;
    height:769px;
    position:relative;	
    width: 91%;
    margin: 0 0 1% 22%;
}

.h2{
	font-size: 35px;
	line-height: 60px;
}