.line012{
	position:absolute;
    top: 44%;
    left: 18%;
	z-index:2;
    display:none;
    width:271%;
}

.line036{
	position:absolute;
	top:6%;
	left:47%;
	z-index:3;	
	display:none;
}

.line048{
	position:absolute;
	top:3%;
	left:6%;	
	z-index:3;	
	display:none;
}

.line147{
	position:absolute;
    top: 9%;
    left: 47%;
    z-index:3;	
	display:none;
}

.line258{
	position:absolute;
	top: 9%;
    left: 47%;  
	z-index:3;	
	display:none;
}

.line246{
	position:absolute;
    top: 14%;
    left: -185%;
    width: 259%;
	z-index:3;	
	display:none;
}

.line345{
	position:absolute;
    top: 47%;
    left: 7%;
	z-index:3;	
	display:none;
}

.line678{
	position:absolute;
	top:50%;
	left:6%;	
	z-index:3;
	display:none;
}