<nav>
    <ul>
        <li><a href="index.html"><i class="fas fa-home"></i></a></li>
        <li><i class="fas fa-chevron-circle-down" id="drop-down-icon"></i></li>
        <div id="drop-down" class="drop-down">
            <li><a href="#scroll-to-form">Form</a></li>
            <li><a href="#scoll-to-api">API</a></li>
            <li><a href="#gallery">Galleri</a></li>
            <li><a href="#animation-nav-link">Animationer</a></li>
            <li><a href="#old-link">Gammel portfolio</a></li>
            <li><a href="#footer">kontakt</a></li>
        </div>
    </ul>
</nav>