            <nav>
                <ul id="nav-ul">
                    <div id="icons">
                        <li><a href="index.html"><i class="fas fa-home"></i></a></li>
                        <li><i class="fas fa-chevron-circle-down" id="drop-down-icon"></i></li>
                    </div>
                    <div id="drop-down" class="drop-down">
                        <li><a href="#react-scroll">ReactJS</a></li>
                        <li><a href="#API">API</a></li>
                        <li><a href="#right-arrow">Animationer</a></li>
                        <li><a href="#footer">Gammel portfolio</a></li>
                        <li><a href="#footer">kontakt</a></li>
                    </div>
                </ul>
            </nav>