<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/SIH-favicon.jpg" type="image/jpg" sizes="16x16"> 
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Space+Mono&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/index.css">
    <title>SIH - webudvikler</title>
</head>
<body>
    <div id="wrapper">