            <nav id="nav">
                <ul>
                    <li><a href="#nav">Om mig</a></li>
                    <li><a href="#about-my-education">min uddannelse</a></li>
                    <li><a href="#footer">kontakt</a></li>
                    <li><a href="examples.html">eksempler</a></li>
                </ul>
            </nav>