                <section id="show-hide-info">
                    <h2 class="main__h2">Her er en liste af skuespillere fra TV serien Doctor who (click på navnerne)</h2>
                    <ul class="section__the-companions">
                        <li class="the-companions_li">
                            <details class="the-companions_details">
                                <summary class="the-companions_summary">
                                    Billie Piper as Rose Tyler
                                </summary>
                                <p class="the_companions_details_p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Sint qui illo numquam eaque praesentium ad adipisci asperiores quidem rem ratione quasi, 
                                fuga nesciunt sed veritatis libero, quos dolorem hic soluta.</p>
                            </details>
                        </li>
                        <li class="the-companions_li">
                            <details class="the-companions_details">
                                <summary class="the-companions_summary">
                                    John Barrowman as Captain Jack Harkness 	
                                </summary>
                                <p class="the_companions_details_p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Sint qui illo numquam eaque praesentium ad adipisci asperiores quidem rem ratione quasi, 
                                fuga nesciunt sed veritatis libero, quos dolorem hic soluta.</p>
                            </details>
                        </li>
                        <li class="the-companions_li">
                            <details class="the-companions_details">
                                <summary class="the-companions_summary">
                                    Catherine Tate as Donna Noble  
                                </summary>
                                <p class="the_companions_details_p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Sint qui illo numquam eaque praesentium ad adipisci asperiores quidem rem ratione quasi, 
                                fuga nesciunt sed veritatis libero, quos dolorem hic soluta.</p>
                            </details>
                        </li>
                        <li class="the-companions_li">
                            <details class="the-companions_details">
                                <summary class="the-companions_summary">
                                    Freema Agyeman as Martha Jones
                                </summary>
                                <p class="the_companions_details_p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Sint qui illo numquam eaque praesentium ad adipisci asperiores quidem rem ratione quasi, 
                                fuga nesciunt sed veritatis libero, quos dolorem hic soluta.</p>
                            </details>
                        </li>
                        <li class="the-companions_li">
                            <details class="the-companions_details">
                                <summary class="the-companions_summary">
                                    Karen Gillan as Amy Pond 
                                </summary>
                                <p class="the_companions_details_p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Sint qui illo numquam eaque praesentium ad adipisci asperiores quidem rem ratione quasi, 
                                fuga nesciunt sed veritatis libero, quos dolorem hic soluta.</p>
                            </details>
                        </li>
                        <li class="the-companions_li">
                            <details class="the-companions_details">
                                <summary class="the-companions_summary">
                                    Arthur Darvill as Rory Williams
                                </summary>
                                <p class="the_companions_details_p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Sint qui illo numquam eaque praesentium ad adipisci asperiores quidem rem ratione quasi, 
                                fuga nesciunt sed veritatis libero, quos dolorem hic soluta.</p>
                            </details>
                        </li>
                        <li class="the-companions_li">
                            <details class="the-companions_details">
                                <summary class="the-companions_summary">
                                    Alex Kingston as River Song  
                                </summary>
                                <p class="the_companions_details_p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Sint qui illo numquam eaque praesentium ad adipisci asperiores quidem rem ratione quasi, 
                                fuga nesciunt sed veritatis libero, quos dolorem hic soluta.</p>
                            </details>
                        </li>
                        <li class="the-companions_li">
                            <details class="the-companions_details">
                                <summary class="the-companions_summary">
                                    Jenna Coleman as Clara Oswald
                                </summary>
                                <p class="the_companions_details_p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Sint qui illo numquam eaque praesentium ad adipisci asperiores quidem rem ratione quasi, 
                                fuga nesciunt sed veritatis libero, quos dolorem hic soluta.</p>
                            </details>
                        </li>
                        <li class="the-companions_li">
                            <details class="the-companions_details">
                                <summary class="the-companions_summary">
                                    Matt Lucas as Nardole	
                                </summary>
                                <p class="the_companions_details_p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Sint qui illo numquam eaque praesentium ad adipisci asperiores quidem rem ratione quasi, 
                                fuga nesciunt sed veritatis libero, quos dolorem hic soluta.</p>
                            </details>
                        </li>
                        <li class="the-companions_li">
                            <details class="the-companions_details">
                                <summary class="the-companions_summary">
                                    Pearl Mackie as Bill Potts 	
                                </summary>
                                <p class="the_companions_details_p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Sint qui illo numquam eaque praesentium ad adipisci asperiores quidem rem ratione quasi, 
                                fuga nesciunt sed veritatis libero, quos dolorem hic soluta.</p>
                            </details>
                        </li>
                        <li class="the-companions_li">
                            <details class="the-companions_details">
                                <summary class="the-companions_summary">
                                    Bradley Walsh as Graham O'Brien 
                                </summary>
                                <p class="the_companions_details_p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Sint qui illo numquam eaque praesentium ad adipisci asperiores quidem rem ratione quasi, 
                                fuga nesciunt sed veritatis libero, quos dolorem hic soluta.</p>
                            </details>
                        </li>
                        <li class="the-companions_li">
                            <details class="the-companions_details">
                                <summary class="the-companions_summary">
                                    Tosin Cole as Ryan Sinclair 
                                </summary>
                                <p class="the_companions_details_p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Sint qui illo numquam eaque praesentium ad adipisci asperiores quidem rem ratione quasi, 
                                fuga nesciunt sed veritatis libero, quos dolorem hic soluta.</p>
                            </details>
                        </li>
                        <li class="the-companions_li">
                            <details class="the-companions_details">
                                <summary class="the-companions_summary">
                                    Mandip Gill as Yasmin Khan
                                </summary>
                                <p class="the_companions_details_p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Sint qui illo numquam eaque praesentium ad adipisci asperiores quidem rem ratione quasi, 
                                fuga nesciunt sed veritatis libero, quos dolorem hic soluta.</p>
                            </details>
                        </li>
                    </ul>

                    <section class="section__the_companions-images">
                        <img class="the_companions-img" src="/assets/images/placeholder.svg" data-src="assets/images/companions/Rose_Tyler.jpg" alt="Rose Tyler">
                    </section>
                </section>