<%- include("../partials/head") %>
    <%- include("../partials/head") %>
    <%- include("../partials/head") %>
    <main>
        <a href="index_en.html">See the site in English</a>
        <section class="om-mig">
            <h2>Om mig (S. Inga Helgadottir)</h2>
            <p>Jeg hedder S. Inga Helgadottir og jeg er en uddannet webudvikler.</p>
            <p>Grundforløbet af webudvikleren tog jeg på Next i København (2019) og hovedforløbet tog jeg hos Roskilde Tekniske Skole (2019-2020)</p>
            <p>Jeg er en Islænding men jeg taler flydende Dansk og Engelsk. (Jeg bestod Dansk A og Engelsk A)</p>
            <p>Jeg kan arbejde alene og i en gruppe.</p>
            <p>Hvis du er interreseret kan du kontakte mig gennem en af de linker i footeren.</p>
        </section>
    </main>
    <%- include("../partials/head") %>
