<%- include("../partials/head") %>
<link rel="stylesheet" href="assets/css/tic/tic-tac-toe.css">
    <title>SIH - webudvikler</title>
</head>
<body>
    <div id="wrapper">
        <%- include("../partials/header") %>
        <nav>
            <ul>
                <li><a href="index.html"><i class="fas fa-home"></i></a></li>
                <li><a href="examples.html">eksempler</a></li>
            </ul>
        </nav>
        <main>
            <div id="main-content">
                <div class="header">
                    <h1 class="h1" id="h1">Tic Tac Toe!</h1>
                    <button>RESTART GAME!</button>
                </div>
                
                <div class="box box1">
                    <img src="../../assets/images/tic-tac-toe/Line.png" alt="3 in a row" class="line line036">
                    <img src="../../assets/images/tic-tac-toe/Line2.png" alt="3 in a row" class="line line012">
                    <img src="../../assets/images/tic-tac-toe/Line4.png" alt="3 in a row" class="line line048">
                    <img src="" alt="" class="panda">
                </div>
                <div class="box box2">
                    <img src="../../assets/images/tic-tac-toe/Line.png" alt="3 in a row" class="line line147">
                    <img src="" alt="" class="panda">
                </div>
                <div class="box box3">
                    <img src="../../assets/images/tic-tac-toe/Line.png" alt="3 in a row" class="line line258">
                    <img src="../../assets/images/tic-tac-toe/Line3.png" alt="3 in a row" class="line line246">
                    <img src="" alt="" class="panda">
                </div>
                <div class="box box4">
                    <img src="../../assets/images/tic-tac-toe/Line2.png" alt="3 in a row" class="line line345">
                    <img src="" alt="" class="panda">
                </div>
                <div class="box box5">
                    <img src="" alt="" class="panda">
                </div>
                <div class="box box6">
                    <img src="" alt="" class="panda">
                </div>
                <div class="box box7">
                    <img src="../../assets/images/tic-tac-toe/Line2.png" alt="3 in a row" class="line line678">
                    <img src="" alt="" class="panda">
                </div>
                <div class="box box8">
                    <img src="" alt="" class="panda">
                </div>
                <div class="box box9">
                    <img src="" alt="" class="panda">
                </div>
                
                <div class="footer">
                    <div class="player1">
                        <img src="../../assets/images/tic-tac-toe/Panda1_tiny.png" alt="panda1">
                        <h2 class="h2">Player 1</h2>
                    </div>
                    <div class="player2">
                        <img src="../../assets/images/tic-tac-toe/Panda2_tiny.png" alt="panda2">
                        <h2 class="h2">Player 2</h2>
                    </div>
                </div>
            </div>
        </main>
        <%- include("../partials/footer") %>
        <script src="assets/js/tic.js"></script>
<%- include("../partials/last") %>