#wrapper #calculator{
    display:grid;
    grid-template-rows:minmax(120px, auto) repeat(5, 100px);
    grid-template-columns:repeat(4, 25%);
    padding:5% 17%;
    #answer{
        grid-row:1;
        grid-column:1/span 4;
        display:flex;
        align-items:flex-end;
        justify-content: space-around;
        flex-direction: column;
        padding:5%;
        word-wrap: break-word;
        word-break:break-all;
        background-color: #000;
        opacity: 1;
        color:#fff;
        margin:0;
        .previous{
            font-size: 1.5rem;
            color:grey;
        }
        .current{
            font-size: 2.5rem;
        }
    }
    button{
        padding:5%;
        width:100%;
        height:100%;
        cursor: pointer;
        font-size: 2rem;
        place-self:center;
        background-color: whitesmoke;
        margin:0;
        border:solid 2px #000;
        &:hover{
            border:solid 2px #fff;
            background-color: #000;
            color:#fff;
            opacity: 1;
        }
    }
    .span-two{
        grid-column:span 2;
    }
}

@media only screen and (max-width: 665px){
    #wrapper #calculator{
        padding:5% 5%;
    }
}

@media only screen and (max-width: 689px){
    #wrapper #calculator{
        grid-template-rows: minmax(120px, auto) repeat(5, 76px);
    }
}