#about-me{
    display:flex;
    justify-content:space-evenly;
    img{
        width:57%;
        height:40%;
    }
    .about-me-text{
        padding-right: 2%;
        h2{
            text-align: center;
            line-height: 1.5;
        }
        p a{
            color:#fff;
            text-decoration: underline 2px;
        }
    }
}
