html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    max-width:960px;
    margin:0 auto;
    font-family: 'Space Mono', monospace;
    letter-spacing: 2px;
    line-height: 26px;
    background:url("../images/code-editoren-t.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
}
#wrapper{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    background-color:#fff;
    section{
        border:solid 2px black;
        background-color:  var(--section-color);
        margin:3%;
        padding:5%;
    }
}
h2{
    font-size:26px;
    margin-top:0;
    a{
        font-size:18px;
    }
}
header{
    background-color:var(--blue);
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    text-align: center;
    a{
        color:#fff;
        text-decoration: none;
    }
}
nav, footer{
    background-color:var(--green);
}
@media only screen and (max-width:872px){
    #scroll-to-form{
        font-size:30px;
    }
    h2, #scrool-to-form #h2{
        font-size:24px;
    }
    h3, #API .section-div .cheese-name{
        font-size: 17px;
    }
    p, h2 a li, h2 a, .the-companions_details summary, .the-companions_details p{
        font-size: 14px;
    }
    p a{
        font-size: 8px;
    }
}
@media only screen and (max-width:800px){
    #scroll-to-form{
        font-size:28px;
    }
    h2{
        font-size:22px;
    }
    h3, #API .section-div .cheese-name{
        font-size: 15px;
    }
    p, li, .the-companions_details summary, .the-companions_details p{
        font-size: 12px;
    }
    #about-me img{
        display:none;
    }
}
@media only screen and (max-width:542px){
    #scroll-to-form{
        font-size:26px;
    }
    h2, #gallery_h1_change{
        font-size:15px;
    }
    h3, #API .section-div .cheese-name{
        font-size: 13px;
    }
    p, li, .the-companions_details summary, .the-companions_details p{
        font-size: 10px;
    }
}
@media only screen and (max-width:400px){
    header h1 a{
        font-size: 40px;
    }
    p, li, .the-companions_details summary, .the-companions_details p{
        font-size:7px;
    }
}
@media only screen and (max-width:350px){
    header h1 a{
        font-size: 36px;
    }
}
@media only screen and (max-width:320px){
    #scroll-to-form{
        font-size:19px;
    }
    p, li, .the-companions_details summary, .the-companions_details p{
        font-size: 7px;
    }
    h2, #gallery #gallery_h1_change {
        font-size: 13px;
    }
    h3, #API .section-div .cheese-name{
        font-size: 12px;
    }
}
