.footer{
    grid-row:3;
    grid-column:1/span 5;
    display:contents;
}
.footer__btn, .footer__points, .footer__text{
    grid-row:3;
    border:solid 3px #57e3ff;
    color:#57e3ff;
    background-color:#7532a8;
    font-size: 22px;
    text-align: center;
    padding:2%;
    font-weight: normal;
}
.footer__btn{
    cursor: pointer;
}
h2{
    cursor: default;
}
.footer__points{
    grid-column:1;
}
.footer__text{
    grid-column:2/span 2;
    position: relative;
}
.btn_stop{
    grid-column: 4;
}
.btn_spin{
    grid-column:5;
}
.btn_stop:hover{
    color:#f00;
    border:solid 3px #f00;
}
.btn_spin:hover{
    color:#0f0;
    border:solid 3px #0f0;
}
// .footer__btn, .footer__points, .footer__text{
//     grid-row:3;
//     border:solid 3px #57e3ff;
//     color:#57e3ff;
//     background-color:#7532a8;
//     font-size: 22px;
//     text-align: center;
//     padding:1%;
//     font-weight: normal;
//     position: relative;
//     margin:7px 0;
// }
// .footer__btn{
//     cursor: pointer;
// }
// h2{
//     cursor: default;
// }
// .footer__points{
//     grid-column:1;
// }
// .footer__text{
//     grid-column:2/span 3;
//     position: relative;
// }
// .btn_stop{
//     grid-column: 4;
// }
// .btn_spin{
//     grid-column:5;
// }
// .btn_stop:hover{
//     color:#f00;
//     border:solid 3px #f00;
// }
// .btn_spin:hover{
//     color:#0f0;
//     border:solid 3px #0f0;
// }

