#winner-box{
    display:none;
    border:solid 5px #0f0; 
    color:#0f0;
    background-color:#7532a8;
    position: absolute;
    top: 50%;
    width: 40%;
    left:30%;
}
.winner-box-text{
    text-align:center;
    padding:4% 0;   
    font-size:30px;
    text-decoration: underline;
}