.win-or-lose{
    grid-row:2;
    grid-column:1;
}
.wins-count{
    color:#0f0;
    place-self: center;
    font-size:28px;
    background-color:#7532a8;
    border:solid 3px #0f0;
    padding:5%;
    margin:5%;
}
.losses-count{
    color:#f00;
    place-self: center;
    font-size:28px;
    background-color:#7532a8;
    border:solid 3px #f00;
    padding:5%;
    margin:5%;
}