.header{
    text-align:center;
    h1{
        font-size:40px;
        color:#57e3ff;
        text-decoration: underline;
        grid-row: 1;
        grid-column: 1/span 5;
    }
}

.blink {
    animation: blinker 1s linear infinite;
}
  
@keyframes blinker {
    0%{color:#57e3ff;}
    50% {color:#0f0;}
    100%{color:#57e3ff;}
}